<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TryNutritions Sign up page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/users/css/signup.css">
</head>

<body class="">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-sm-10 col-md-6">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-5 heading">Create Account</h2>
                        <form id="signupForm" action="/api/users" method="post" onsubmit="return validateForm()">
                            <div class="mb-4">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
                                <span id="nameError" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone">
                                <span id="phoneError" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email">
                                <span id="emailError" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Create password">
                                <span id="passwordError" class="text-danger"></span>
                            </div>
                            <div class="mb-4 form-check">
                              <input type="checkbox" class="form-check-input" id="termsCheckbox">
                              <label class="form-check-label" for="termsCheckbox">I accept all terms & conditions</label><br>
                              <span id="checkboxError" class="text-danger"></span>
                            </div>
                          
                            <div class="mb-4">
                                <button type="submit" class="btn w-100">Register Now</button>
                            </div>
                            <div class="text-center">
                                <p>Already have an account? <a href="/login">Login now</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      function validateForm() {
          let name = document.getElementById("name").value;
          let phone = document.getElementById("phone").value;
          let email = document.getElementById("email").value;
          let password = document.getElementById("password").value;
          let checkbox = document.getElementById("termsCheckbox");
  
          let nameValid = /^[A-Za-z\s]{3,}$/.test(name);
          let phoneValid = /^\d{10}$/.test(phone);
          let emailValid = /^[\w.-]+@[\w-]+\.+[\w-]{2,}$/.test(email);
          let passwordValid = /^[A-Za-z\d]{6,}$/.test(password);
          let checkboxValid = checkbox.checked;
  
          // Reset error messages
          document.getElementById("nameError").innerHTML = "";
          document.getElementById("phoneError").innerHTML = "";
          document.getElementById("emailError").innerHTML = "";
          document.getElementById("passwordError").innerHTML = "";
          document.getElementById("checkboxError").innerHTML = "";
  
          if (!nameValid) {
              document.getElementById("nameError").innerHTML =
                  "Minimum 3 characters required";
          }
  
          if (!phoneValid) {
              document.getElementById("phoneError").innerHTML =
                  "Enter a valid phone number";
          }
  
          if (!emailValid) {
              document.getElementById("emailError").innerHTML =
                  "Enter a valid email address";
          }
  
          if (!passwordValid) {
              document.getElementById("passwordError").innerHTML =
                  "Password must be 6 characters";
          }
  
          if (!checkboxValid) {
              document.getElementById("checkboxError").innerHTML =
                  "Please accept the terms and conditions";
          }
  
          // If any validation fails, return false
          return nameValid && phoneValid && emailValid && passwordValid && checkboxValid;
      }
  </script>
  
</body>

</html>
