.container {
  max-width: 780px;
}
input,
input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 4;
}
.password-num-display {
  font-size: 12px;
  font-weight: 500;
}
label {
  font-size: 15px;
}