.container {
  max-width: 780px;
}
.heading{
  font-weight: 400;
}
input,
input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 4;
}
.password-num-display {
  font-size: 12px;
  font-weight: 500;
}
label {
  font-size: 15px;
}
.btn{
  border: 1px solid #ffb524;
  border-radius: 20px;
  color: #81c408;
  font-weight: 500;
}
.btn:hover{
  background-color: #ffb524;
  color: white;
}
span{
  font-size: 14px;
}