 <!-- NAVBAR -->
 <nav>
    <i class='bx bx-menu' style="font-size: 24px;"></i>
    <a href="#" class="nav-link"></a>
    <form action="#">
        <div class="form-input">
        </div>
    </form>
    <!-- <a href="#" class="notification">
        <i class='bx bxs-bell' ></i>
    </a> -->
</nav>
<!-- NAVBAR -->