<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<!-- D3.js -->
	<script src="https://d3js.org/d3.v7.min.js"></script>

	<!-- Jquery Data Table -->
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"/>

	<!-- My CSS -->
	<link rel="stylesheet" href="/admin/css/style.css">

	<title>Admin Dashboard - TryNutritions</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/admin" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">TryNutritions</span>
		</a>
		<ul class="side-menu top icon-box">
			<li class="">
				<a href="/admin">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="">
				<a href="/admin/category">
					<i class='bx bx-data'></i>
					<span class="text">Category</span>
				</a>
			</li>
			<li class="">
				<a href="/admin/products">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li class="">
				<a href="/admin/coupons">
					<i class='bx bxs-discount'></i>
					<span class="text">Coupons</span>
				</a>
			</li>
			<li class="">
				<a href="/admin/banners">
					<i class='bx bxs-message-square-minus'></i>
					<span class="text">Banner</span>
				</a>
			</li>
			<!-- <li class="">
				<a href="/admin/payments">
					<i class='bx bxs-wallet-alt' ></i>
					<span class="text">Payments</span>
				</a>
			</li> -->
			<li>
				<a href="/admin/orders">
					<i class='bx bxs-package'></i>
					<span class="text">Orders</span>
				</a>
			</li>
			<li>
				<a href="/admin/vendors">
					<i class='bx bxs-store user-icon'></i>
					<span class="text">Vendors</span>
				</a>
			</li>
			<li>
				<a href="/admin/users">
					<i class='bx bxs-user user-icon'></i>
					<span class="text">Users</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu icon-box">
			<li class="">
				<a href="/admin/settings">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/admin/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->